<div class="resume">
  <div class="resume-container">
    <img src="https://secure.gravatar.com/avatar/8e21b254d7c82fdce3286a21345dd3c4?s=150"></img>
      <h4><%= @resume['contact']['name'] %></h4>
      <span class="resume_url"><%= markdown(@resume['contact']['email']) %></span>
      <span class="resume_url"><%= markdown(@resume['contact']['github']) %></span>
      <span class="resume_url"><%= markdown(@resume['contact']['linkedin']) %></span>
    <br/>

    <h5>Work Experience</h5>
    <% @resume['work'].each do |job| %>
      <p>
        <div style="float: left;">
          <b><%= job['employer'] %></b></br>
          <u><%= job['title'] %></u>
        </div>
        <div style="float: right;">
          <%= job['where'] %></br>
          <%= job['dates'] %>
        </div>
      </p>
      <br/> <br/>
      <p>
        <% job['fluff'].each do |fluff| %>
          <li class="tabbed"><%= fluff %></br></li>
        <% end %>
      </p>
  <% end %>
  &nbsp;
    </br>

  <h5>Projects</h5>
  <p>
    <% @resume['projects'].each do |project| %>
      <li class="tabbed"><%= markdown(project) %></li>
    <% end %>
  </p>
  &nbsp;
  </br>

  <h5>Technical Knowledge</h5>
  <p>
    <% @resume['technical'].each do |skill| %>
      <li class="tabbed"><%= markdown(skill) %></li>
    <% end %>
  </p>
  &nbsp;
  </br>

  <h5>Events</h5>
  <% @resume['events'].each do |event| %>
    <p>
      <strong><%= event['name'] %></strong> <%= event['dates'] %>
      <li class="tabbed"><%= event['description'] %></li>
    </p>
  <% end %>
  &nbsp;
  </br>

  <h5>Education</h5>
  <% @resume['education'].each do |edu| %>
    <strong><%= edu['school'] %></strong> 
    <%= edu['dates'] %>
    <% edu['degree'].each do |degree, value| %>
      <br/><strong class="tabbed"><%= degree.capitalize %></strong>: <%= value %>
    <% end %>
  <% end %>
  &nbsp;
  </br>
  </br>

  <% @resume['notes'].each do |note| %>
    <small><i><%= note %></i></small></br>
  <% end %>

  </div>
</div>
