<div class="wrapper">
  <div id="post_image"><h2><%= @project.title %></h2></div>
  <p>
    <strong>Url:</strong>
    <%= link_to @project.url %>
  </p>

  <p>
    <%= markdown(@project.content) %>
  </p>
  <br/>
  Share: <%= social_share_button_tag(@project.title, url: post_url(@project), popup: true) %>
  <br/>
  <%= link_if_admin 'Edit |', edit_project_path(@project) %>
  <%= link_to 'Back', projects_path %>
</div>
