<%= form_for(post, html: { class: "form_form" }) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="preview_div"></div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <br>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, id: "content", rows: 15 %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn" %>
    <input type="button" value="Preview" class="btn" onClick="preview()" />
  </div>
<% end %>
